// Tall Screen
// ----------------------------------------------------------------------
.tall-bg {
	@include border-radius(50px);
}

.tall-title {
	@extend .condensed.xxxlarge.normal;
	color: $brand;
}

.tall-go-back {
	@extend .condensed.medium.bold;
	color: black;
	z-index: 102;
}