<fa-view>

	<!-- Background Image -->
	<fa-modifier fa-opacity="opacity.get()">
		<fa-image-surface class="tall-bg-image"
      fa-image-url="bigBG.jpg">
    </fa-image-surface>
	</fa-modifier>

  <!-- Layout -->
  <fa-header-footer-layout fa-options="layout.options">

    <!-- Header -->
    <fa-view>
      <fa-modifier 
        fa-opacity="opacity.get()"
        fa-size="header.size"
        fa-translate="header.translate">
        <current-time></current-time>
        <weather></weather>
      </fa-modifier>

    </fa-view>

    <!-- Content -->
    <fa-view>

      <!-- Background -->
      <fa-modifier
        fa-opacity="opacity.get()"
        fa-align="background.align"
        fa-origin="background.origin"
        fa-size="background.size">
        <fa-surface class="tall-bg"
          fa-background-color="background.color">
        </fa-surface>
      </fa-modifier>

      <!-- Title -->
      <fa-modifier
        fa-opacity="opacity.get()"
        fa-size="title.size"
        fa-translate="title.translate">
        <fa-surface class="tall-title">
          {{title.text}}
        </fa-surface>
      </fa-modifier>

      <!-- States -->
      <div ui-view></div>
      <div ui-view="categories" ng-if="states.categories.active"></div>
      <div ui-view="search" ng-if="states.search.active"></div>
      <div ui-view="stores" ng-if="states.stores.active"></div>

      <!-- Go Back -->
      <fa-modifier
        fa-opacity="opacity.get()"
        fa-size="goBack.size"
        fa-translate="goBack.translate">
        <fa-surface class="tall-go-back" ng-if="currentState != defaultState" 
          fa-click="service.goToDefaultState()">
          {{goBack.text}}
        </fa-surface>
      </fa-modifier>

    </fa-view>

    <!-- Footer -->
    <fa-view></fa-view>

  </fa-header-footer-layout>

</fa-view>