<fa-view>
  <fa-image-surface fa-image-url="bigBG.jpg"></fa-image-surface>
  <fa-header-footer-layout fa-options="{direction: 1, headerSize: 270, footerSize: 155}">

    <fa-view></fa-view>

    <fa-view>
      <fa-modifier fa-translate="[pageInset,0,0]" fa-size="scrollViewSize">
      <largescreen-directory>
      <fa-scroll-view fa-pipe-from="myEventHandler" fa-options="options.myScrollView" id="largeDirectoryScrollView">
        <fa-modifier fa-size="[pageWidth, undefined]" ng-repeat="page in directory.pages">
          <fa-modifier fa-size="[(pageWidth - pageGutter), undefined]">
            <fa-view>
              <fa-surface fa-background-color="'rgba(255,255,255,0.7)'" fa-pipe-to="myEventHandler" class="large-directory-card">
              <img src="/cardHeader.png" width="100%" />
                <div class="large-directory-card-main">
                  <ul class="large-directory-column" ng-repeat="column in page.columns track by $index">
                    <li ng-repeat="item in column track by $index" ng-class="{highlighted: (directory.selectedFloor == item.level)}">
                      <h2 ng-if="item.category">{{item.name}}</h2>
                      <p ng-if="!item.category" ng-click="handleItemClick(item)" class="store-listing">
                        <span class="name">{{item.name}}</span>
                        <span class="floor-name">{{item.level}}</span>
                      </p>
                    </li>
                  </ul>
                </div>
              </fa-surface>
            </fa-view>
          </fa-modifier>
        </fa-modifier>
      </fa-scroll-view>
      </largescreen-directory>
    </fa-modifier>

    </fa-view>

    <fa-view></fa-view>

  </fa-header-footer-layout>


  <largescreen-sidebar></largescreen-sidebar>
</fa-view>