<fa-view>
  <fa-image-surface fa-image-url="bigBG.jpg"></fa-image-surface>
  <fa-header-footer-layout 
    fa-options="layout.options">

    <fa-view></fa-view>

    <fa-view>

      <!-- Menu Background -->
      <fa-modifier 
        fa-align="menu.background.align"
        fa-origin="menu.background.origin"
        fa-size="menu.background.size">
        <fa-surface class="large-menu-bg"></fa-surface>
      </fa-modifier>

      <!-- Stores View -->
      <fa-modifier
        ng-show="showStores"
        fa-align="menu.stores.align"
        fa-origin="menu.stores.origin"
        fa-size="menu.stores.size.get()"
        fa-translate="menu.stores.translate">

        <!-- Background -->
        <fa-surface class="large-menu-stores-view-bg"
          fa-background-color="menu.stores.background.color">
        </fa-surface>

        <!-- Content -->
        <fa-modifier
          fa-align="menu.stores.content.align"
          fa-origin="menu.stores.content.origin"
          fa-opacity="menu.stores.content.opacity.get()" 
          fa-size="menu.stores.size.get()">

          <!-- Stores Header -->
          <fa-modifier
            fa-size="menu.stores.data.header.size"
            fa-translate="menu.stores.data.header.translate">
            <fa-surface class="large-menu-stores-header">
              <h2>{{menu.stores.data.header.text}}</h2>
            </fa-surface>
          </fa-modifier>

          <!-- Floor Selection -->
          <fa-modifier
            fa-align="menu.floors.align"
            fa-size="menu.floors.size"
            fa-translate="menu.floors.translate">

            <!-- Header-->
            <fa-modifier>
              <fa-surface class="large-menu-floors-header">
                <em>{{menu.floors.header.text}}</em>
              </fa-surface>
            </fa-modifier>

            <!-- Floors -->
            <fa-modifier
              fa-size="menu.floors.grid.size"
              fa-translate="menu.floors.grid.translate">
              <fa-grid-layout 
                fa-options="menu.floors.grid.options">

                <fa-surface class="large-menu-floors-grid"
                  ng-repeat="grid in menu.floors.grid.grids">
                  <div class="large-menu-floor" 
                    ng-class="{active:false}"
                    ng-repeat="floor in grid" 
                    ng-click="selectFloor(floor)">
                    <p>Floor</p>
                    <h1>{{floor.level}}</h1>
                  </div>
                </fa-surface>

              </fa-grid-layout>
            </fa-modifier>

          </fa-modifier>

          <!-- Stores Grid -->
          <fa-modifier
            fa-size="menu.stores.data.grid.size"
            fa-translate="menu.stores.data.grid.translate">
            <fa-grid-layout 
              fa-options="menu.stores.data.grid.options">
              <fa-surface class="large-menu-store-grid"
                ng-repeat="grid in menu.stores.data.grid.grids">
                <ul>
                  <li ng-repeat="store in grid" 
                    ng-click="selectStore(store)">{{store.name}}</li>
                </ul>
              </fa-surface>
            </fa-grid-layout>
          </fa-modifier>

          <!-- Back to Categories -->
          <fa-modifier
            fa-align="menu.stores.goBack.align"
            fa-translate="menu.stores.goBack.translate">
            
            <!-- Icon -->
            <fa-modifier
              fa-size="menu.stores.goBack.icon.size"
              fa-translate="menu.stores.goBack.icon.translate">

              <fa-surface class="large-menu-back-icon"
                fa-click="backToCategories()">
                <div class="wf-arrow-left"></div>
              </fa-surface>

            </fa-modifier>

            <!-- Text -->
            <fa-modifier
              fa-translate="menu.stores.goBack.text.translate">
              <fa-surface class="large-menu-goBack">
                <h2 ng-click="backToCategories()">{{menu.stores.goBack.text.value}}</h2>
              </fa-surface>
            </fa-modifier>

          </fa-modifier>

        </fa-modifier>

      </fa-modifier>

      <!-- Menu Content -->
      <fa-modifier 
        fa-align="menu.content.align"
        fa-origin="menu.content.origin"
        fa-size="menu.content.size"
        fa-translate="menu.content.translate">

          <!-- Title -->
          <fa-modifier
            fa-size="menu.title.size"
            fa-translate="menu.title.translate">
            <fa-surface class="large-menu-title">
              <h1>{{menu.title.text}}</h1>
            </fa-surface>
          </fa-modifier>

          <!-- Home View -->
          <fa-modifier
            fa-opacity="menu.home.opacity.get()"
            fa-translate="menu.home.translate.get()">
          
            <!-- Categories Header -->
            <fa-modifier
              fa-size="menu.categories.header.size"
              fa-translate="menu.categories.header.translate">
              <fa-surface class="large-menu-category-header">
                <em>{{menu.categories.header.text}}</em>
              </fa-surface>
            </fa-modifier>

            <!-- Categories Grid -->
            <fa-modifier
              fa-size="menu.categories.grid.size"
              fa-translate="menu.categories.grid.translate">
              <fa-grid-layout 
                fa-options="menu.categories.grid.options">
                <fa-surface class="large-menu-category-grid"
                  ng-repeat="grid in menu.categories.grid.grids">
                  <ul>
                    <li ng-repeat="category in grid" 
                      ng-click="selectCategory(category.code)">{{category.name}}</li>
                  </ul>
                </fa-surface>
              </fa-grid-layout>
            </fa-modifier>

            <!-- Divider -->
            <fa-modifier
              fa-size="menu.divider.size"
              fa-translate="menu.divider.translate">
              <fa-surface class="large-menu-divider"
                fa-background-color="menu.divider.bgColor">
              </fa-surface>
            </fa-modifier>

            <!-- Fake Search -->
            <fa-modifier>

              <!-- Search Icon -->
              <fa-modifier
                fa-size="menu.fakeSearch.icon.size" 
                fa-translate="menu.fakeSearch.icon.translate">
                <fa-surface 
                  fa-click="selectSearch()"
                  class="large-menu-search-icon">
                  <div class="wf-wire-search"></div>
                </fa-image-surface>
              </fa-modifier>

              <!-- Text -->
              <fa-modifier 
                fa-size="menu.fakeSearch.query.text.size" 
                fa-translate="menu.fakeSearch.query.text.translate">
                <fa-surface class="search-query-text largescreen"
                  fa-click="selectSearch()">
                  <h1 class="searchBox"></h1>
                </fa-surface>
              </fa-modifier>

              <!-- Placeholder -->
              <fa-modifier 
                fa-size="menu.fakeSearch.query.text.size" 
                fa-translate="menu.fakeSearch.query.text.translate">
                <fa-surface class="search-query-placeholder"
                  fa-click="selectSearch()">
                  <h2>{{menu.fakeSearch.query.placeholder.text}}</h2>
                </fa-surface>
              </fa-modifier>

            </fa-modifier>
            
          </fa-modifier>

        </fa-modifier>

      </fa-modifier>

      <!-- Search -->
      <fa-modifier
        ng-show="showSearch"
        fa-align="menu.search.align"
        fa-origin="menu.search.origin"
        fa-size="menu.search.size.get()"
        fa-translate="menu.search.translate.get()">

        <!-- Background -->
        <fa-surface class="large-menu-search-view-bg"
          fa-background-color="menu.search.background.color">
        </fa-surface>

        <fa-modifier
          fa-opacity="menu.search.content.opacity.get()">

          <!-- Back to Categories -->
          <fa-modifier
            fa-align="menu.search.goBack.align"
            fa-translate="menu.search.goBack.translate">
            
            <!-- Icon -->
            <fa-modifier
              fa-size="menu.search.goBack.icon.size"
              fa-translate="menu.search.goBack.icon.translate">

              <fa-surface class="large-menu-back-icon"
                fa-click="backToCategories()">
                <div class="wf-arrow-left"></div>
              </fa-surface>

            </fa-modifier>

            <!-- Text -->
            <fa-modifier
              fa-translate="menu.search.goBack.text.translate">
              <fa-surface class="large-menu-goBack">
                <h2 ng-click="backToCategories()">{{menu.search.goBack.text.value}}</h2>
              </fa-surface>
            </fa-modifier>

          </fa-modifier>

          <!-- Search -->
          <largescreen-sidebar-search></largescreen-sidebar-search>
        
        </fa-modifier>

      </fa-modifier>

    </fa-view>

    <fa-view></fa-view>

  </fa-header-footer-layout>

</fa-view>

<!-- <largescreen-sidebar></largescreen-sidebar> -->
<largescreen-weather></largescreen-weather>