// Big Bold List
// ----------------------------------------------------------------------
.big-bold-list {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      @extend .bold-list-item;
    }
  }
}

.bold-list-item {
  @extend .bold-header;
  margin: 0 0 20px 0;
  padding-right: 30px;
}

// Big Normal List
// ----------------------------------------------------------------------
.big-normal-list {
  ul {
    list-style-type: none;
    padding: 0;

    li {
      @extend .normal-list-item;
    }
  }
}

.normal-list-item {
  @include font(flama);
  color: #666;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: 1px;
  padding-right: 20px;
  margin-bottom: 15px;
}

// Floor Selector
// ----------------------------------------------------------------------
.floor-selector {
  @include border-radius(100px);
  @include size(50px);
  background: #bbb;
  color: white;

  p, h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
  }

  p {
    padding-top: 7px;
    font-size: 14px;
  }

  h1 {
    @include font(georgia);
    font-size: 30px;
    margin-top: -10px;
    font-weight: normal;
  }

  &.active {
    background: $brand;
  }
}

.floor-indicator {
  position: relative;
  div.indicator {
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 100px;
    background: $brand;
    top: 6px;
    left: -15px;
  }
}

// Back Icon
// ----------------------------------------------------------------------
.back-icon {
  @include border-radius(100px);
  border: 5px solid #aaa;
  font-size: 24px;
  position: absolute;

  .wf-arrow-left:before {
    color: $brand;
    @include vertical-horizontal-center();
    @include size(26px);
  }
}

// Remove Icon
// ----------------------------------------------------------------------
.remove-icon {
  font-size: 24px;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}