<fa-view ng-if="cardStream.shown">

  <fa-modifier fa-translate="[0,0,10]" fa-opacity="0.95">
    <fa-surface fa-background-color="'rgba(0,0,0,0.8)'" ng-if="cardStream.shown" fa-click="cardStream.hide()"></fa-surface>
  </fa-modifier>

  <fa-modifier fa-size="[1000, 1000]" fa-align="[0.5, 0.5]" fa-origin="[0.5, 0.5]" fa-scale="[0.7,0.7]" fa-translate="cardStream.boxTransitionable.get()">
    <fa-sequential-layout>
      <fa-view>
        <fa-modifier fa-size="[undefined, 1000]">
          <fa-surface fa-background-color="'#fff'" class="cardstream-card">
            <h2 class="light-title">{{cardStream.currentStore.name}}</h2>
            <div style="background-size: cover; background-position: center; height: 15em; background-image: url({{cardStream.currentStore._links.store_front.href}}); background-color: #444;">
            </div>
            <div style="padding: 3em">
              <p>Description: {{cardStream.currentStore.description}}</p>
              <h3>Level: {{cardStream.currentStore.level}}</h3>
              <h3>Shop Number: {{cardStream.currentStore.shop_number}}</h3>
              <div class="miniMap" ng-repeat="map in cardStream.currentStore.maps">
                <inject-svg element="map"></inject-svg>
              </div>
            </div>
          </fa-surface>
        </fa-modifier>
      </fa-view>

      <fa-view ng-if="cardStream.isLarge">
          <fa-modifier fa-size="[undefined, 150]">
            <fa-surface fa-click="cardStream.hide()">
              <h1 class="txt-center txt-reversed light-title">Related Stores</h1>
            </fa-surface>
          </fa-modifier>
      </fa-view>

      <fa-view ng-if="cardStream.isLarge">
        <fa-modifier fa-size="[undefined, 320]">
          <fa-grid-layout fa-options="{dimensions:[2,1], gutterSize: [20, 20]}">
            <fa-surface class="related-card" ng-repeat="relatedStore in cardStream.relatedStores" fa-touchend="cardStream.setStore(relatedStore)">
              <h3>{{relatedStore.name}}</h3>
              <div ng-if="relatedStore._links.store_front.href" style="background-size: cover; background-position: center; height: 15em; background-image: url({{relatedStore._links.store_front.href}});"></div>
              <div style="padding: 3em">
              </div>
            </fa-surface>
          </fa-grid-layout>
        </fa-modifier>
      </fa-view>

    </fa-sequential-layout>
  </fa-modifier>

</fa-view>
