<fa-view ng-show="cardStream.show">
  <fa-modifier fa-translate="[0,0,10]">
  <fa-surface fa-background-color="'rgba(0,0,0,0.8)'" ng-if="cardStream.shown" fa-click="cardStream.hide()" fa-animate-enter="cardAnimateEnter()"></fa-surface>
  </fa-modifier>
  <fa-modifier fa-size="[800, 600]" fa-align="[0.5, 0.5]" fa-origin="[0.5, 0.5]" fa-scale="[0.7,0.7]" fa-translate="cardStream.boxTransitionable.get()">
    <fa-surface fa-background-color="'#fff'" ng-if="cardStream.shown">
      <div style="background-size: cover; background-position: center; height: 15em; background-image: url({{cardStream.currentStore._links.store_front.href}});"/>
      <div style="padding: 3em">
        <h3>{{cardStream.currentStore.name}}</h3>
        <p>{{cardStream.currentStore.description}}</p>
      </div>
    </fa-surface>
  </fa-modifier>
</fa-view>