

// Generics + Base Styles
// ----------------------------------------------------------------------
$brand: #da291c;


body {
  margin: 0;
  font-family: 'FlamaCondensed', 'helvetica neue', 'helvetica', 'arial', 'sans';
  font-weight: 500;
  color: #222;
  background-color: #000;
  color: #4D4E4C;
}

* {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}