// Famo.us Integration
// ----------------------------------------------------------------------

fa-app {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

webview {
 height: 100%;
 width: 100%;
}

.dbl-sided {
  backface-visibility: visible !important;
  -webkit-backface-visibility: visible !important;
}

.full-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}