

// Generic + Base Styles
// ----------------------------------------------------------------------

body {
    margin: 0;
    font-family: 'FlamaCondensed', 'helvetica neue', 'helvetica', 'arial', 'sans';
    font-weight: 500;
    color: #222;
    background-color: #222;
    background-image: url('/dev-bg.png');
    color: #4D4E4C;
}


button {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-size: 100%;
}


// Typography
// ----------------------------------------------------------------------

h1 {
  font-size: 77px;
  font-weight: 600;
}

h3 {
  font-size: 23px;
  font-weight: 700;
}


// Famo.us Integration
// ----------------------------------------------------------------------

fa-app {
  position: fixed !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

webview {
 height: 100%;
 width: 100%;
}

.dbl-sided {
  backface-visibility: visible !important;
  -webkit-backface-visibility: visible !important;
}

.full-screen {
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}


// Menu
// ----------------------------------------------------------------------

.menu-item {
  background-color: #fff;
  text-align: right;
  box-sizing: border-box;
  padding: 1.5rem;
  border: 1px solid #979797;
  border-top: none;


  h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
  }

  h3 {
    margin: 0;
    padding: 0;
  }
}

