.floor-selector-header {
	&.tall {
		@extend .condensed.xsmall.normal;
		color: black;
		font-style: italic;
	}
}

.floor-selector-floors {
	z-index: 103;
	
	&.tall {
		div {
			@include border-radius(100px);
			@include size(50px);
			background: #bbb;
			color: white;

		  p, h1 {
		    text-align: center;
		    text-transform: uppercase;
		  }

		  p {
		  	@extend .condensed.xxsmall.normal;
		    padding-top: 7px;
		  }

		  h1 {
		  	@extend .georgia.medium.normal;
		    font-size: 30px;
		    margin-top: -10px;
		  }

		  &.active {
		    background: $brand;
		  }
		}
	}
}