<!-- Menu Toggle Button -->
<!-- <fa-surface>
  <button ng-click="menu.toggle()">Menu</button>
</fa-surface> -->
<!-- Menu -->
<fa-modifier fa-size="[300, auto]" fa-translate="[0, 0]">
  <fa-grid-layout fa-options="menuLayoutOptions" ng-show="menu.active">
      <fa-modifier ng-repeat="item in menuItems">
        <fa-surface fa-touchstart="launch(item)" ng-mousedown="launch(item)" class="menu-item">
          {{item.title}}
        </fa-surface>
      </fa-modifier>
    </fa-grid-layout>
</fa-modifier>