// Tall Categories
// ----------------------------------------------------------------------
.tall-categories-title {
	@extend .flama.small.normal;
	font-style: italic;
}

.tall-categories-list {
	@extend .condensed.medium.bold;
	color: black;
	z-index: 100;

	li {
		margin-bottom: 20px;
	}
}