<fa-view>
	<fa-modifier
		fa-opacity="opacity.get()"
		fa-size="state.size"
		fa-translate="state.translate">

	  <!-- Title -->
	  <fa-modifier
	  	fa-size="title.size">
	    <fa-surface class="tall-categories-title">
	    	{{title.text}}
	    </fa-surface>
	  </fa-modifier>

	  <!-- Category List -->
	  <fa-modifier
	  	fa-size="grid.size"
	  	fa-translate="grid.translate">
	    <fa-grid-layout
        fa-options="grid.options">
        <fa-surface class="tall-categories-list"
          ng-repeat="column in grid.columns">
          <ul>
            <li ng-repeat="category in column">
              <a ng-click="service.selectCategory(category.code)">
                {{category.name}}
              </a>
            </li>
          </ul>
        </fa-surface>
      </fa-grid-layout>
	  </fa-modifier>

		<!-- Search -->
		<search></search>

	</fa-modifier>
</fa-view>