// Keyboard
// ----------------------------------------------------------------------

svg text {
  pointer-events:none;
}

svg * { pointer-events: all; }

g.active {
  .key-background {
    fill: #c7242e;
  }
}
