.weather-summary,
.weather-current-temp {
	&.tall {
	  color: white;
	  text-align: right;
	}
}

.weather-summary {
  @extend .flama.medium.bold;
  text-transform: capitalize;
}

.weather-current-temp {
  @extend .flama.large.bold;
}