// Screensaver
// ----------------------------------------------------------------------

.screensaver-touch {
  border-radius: 50%;
  background-color: $red;
  h1 {
    color: #fff;
    text-align: center;
    line-height: 600px;
    margin: 0;
    padding: 0;
  }
}
