<fa-modifier fa-translate="saverPosition.get()" fa-opacity="saverOpacity.get()" ng-if="KioskScreenSaver.isRunning">
  <fa-view>
    <fa-modifier ng-repeat="img in KioskScreenSaver.imgs" fa-opacity="img.opacity.get()" fa-scale="img.scale.get()" fa-align="[.5, .5]" fa-origin="[.5,.5]" fa-translate="img.translate.get()">
      <fa-image-surface fa-image-url="{{img.url}}" ng-show="img.active" fa-touchstart="KioskScreenSaver.exit()"></fa-image-surface>
    </fa-modifier>
  </fa-view>
  <fa-view>
    <fa-modifier fa-size="[500, 500]" fa-align="[0.5, 0.5]" fa-scale="[.5,.5]" fa-origin="[0.5, 0.5]" fa-translate="[0,0,100]" fa-opacity="0.95">
      <fa-surface class="screensaver-touch" fa-touchstart="KioskScreenSaver.exit()">
        <h1 class="light-title">Touch To Begin</h1>
      </fa-surface>
    </fa-modifier>
  </fa-view>
</fa-modifier>