<fa-view>

	<!-- Menu -->
	<!-- the menu exists here because the element persists across all widescreen states -->
	<!-- it should be controlled by the widescreen service, unless you want to make it an element with its own service -->

  <!-- States -->
  <div ui-view></div>
  <div ui-view="dining"   ng-if="states.dining.active"></div>
  <div ui-view="events"   ng-if="states.events.active"></div>
  <div ui-view="map"      ng-if="states.map.active"></div>
  <div ui-view="search"   ng-if="states.search.active"></div>
  <div ui-view="services" ng-if="states.services.active"></div>
  <div ui-view="shopping" ng-if="states.shopping.active"></div>

</fa-view>