// Generics + Base Styles
// ----------------------------------------------------------------------
$brand: #da291c;

* {
  cursor: default;
  margin: 0;
  padding: 0;
  @include user-select(none);
}

body {
  background-color: #000;
  @extend .condensed.small.normal;
}