
// Typography
// ----------------------------------------------------------------------
.text {
  margin: 0;
  padding: 0;
}

.bold-header {
  @extend .text;
  @include font(condensed);
  font-size: 28px;
  letter-spacing: 1px;
  line-height: 30px;
}

.big-light-text {
  @extend .text;
  @include font(flama);
  color: $brand;
  text-transform: uppercase;
  font-weight: 100;
  font-size: 600%;
  line-height: 1.15;
}

.big-red-header {
  @extend .text;
  @include font(condensed);
  color: $brand;
  font-size: 80px;
  font-weight: 100;
  line-height: 80px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.big-white-header {
  @extend .text;
  @include font(condensed);
  color: white;
  font-size: 70px;
  font-weight: 600;
}

.small-italic-header {
  @extend .text;
  @include font(flama);
  color: #4d4d4d;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1px;
}

.logo-alt-text {
  @extend .text;
  color: #656667;
  font-size: 300%;
  line-height: 200px;
  text-align: center;
}

.input-text {
  @extend .text;
  @include font(condensed);
  border-bottom: 2px solid $brand;
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
  // margin: 30px auto;
  // padding: 20px 1em;
  // line-height: 1;
  // text-align: left;
  text-transform: uppercase;
}