// Typography
// ----------------------------------------------------------------------
@mixin font($font, $size, $weight) {

  // Font Family
  @if $font == flama {
    font-family: 'Flama', 'helvetica neue', 'helvetica', 'arial', 'sans';
  } 
  @else if $font == condensed {
    font-family: 'FlamaCondensed', 'helvetica neue', 'helvetica', 'arial', 'sans';
  } 
  @else if $font == georgia {
    font-family: 'Georgia', 'serif';
  } 

  // Font Size (in pixels, convert to rems)
  // 1rem = 16px
  font-size: rem($size);

  // Font Weight
  font-weight: $weight;
}

$large:  48;
$medium: 32;
$small:  24;

$bold:   600;
$normal: 300;
$light:  100;

.flama {

  &.large {
    &.bold {
      @include font(flama, $large, $bold);
    }
    &.normal {
      @include font(flama, $large, $normal);
    }
    &.light {
      @include font(flama, $large, $light);
    }
  }

  &.medium {
    &.bold {
      @include font(flama, $medium, $bold);
    }
    &.normal {
      @include font(flama, $medium, $normal);
    }
    &.light {
      @include font(flama, $medium, $light);
    }
  }

  &.small {
    &.bold {
      @include font(flama, $small, $bold);
    }
    &.normal {
      @include font(flama, $small, $normal);
    }
    &.light {
      @include font(flama, $small, $light);
    }
  }

}

.condensed {

  &.large {
    &.bold {
      @include font(condensed, $large, $bold);
    }
    &.normal {
      @include font(condensed, $large, $normal);
    }
    &.light {
      @include font(condensed, $large, $light);
    }
  }

  &.medium {
    &.bold {
      @include font(condensed, $medium, $bold);
    }
    &.normal {
      @include font(condensed, $medium, $normal);
    }
    &.light {
      @include font(condensed, $medium, $light);
    }
  }

  &.small {
    &.bold {
      @include font(condensed, $small, $bold);
    }
    &.normal {
      @include font(condensed, $small, $normal);
    }
    &.light {
      @include font(condensed, $small, $light);
    }
  }

}

.georgia {

  &.large {
    &.bold {
      @include font(georgia, $large, $bold);
    }
    &.normal {
      @include font(georgia, $large, $normal);
    }
    &.light {
      @include font(georgia, $large, $light);
    }
  }

  &.medium {
    &.bold {
      @include font(georgia, $medium, $bold);
    }
    &.normal {
      @include font(georgia, $medium, $normal);
    }
    &.light {
      @include font(georgia, $medium, $light);
    }
  }

  &.small {
    &.bold {
      @include font(georgia, $small, $bold);
    }
    &.normal {
      @include font(georgia, $small, $normal);
    }
    &.light {
      @include font(georgia, $small, $light);
    }
  }

}