/* Typography
// ----------------------------------------------------------------------
// This font factory creates font variations based on size and weight.
// Common styles are defined once, and @extend is used for inheritance.
*
*  Example
*
*    h1 {
*      @extend .font;
*      or @extend .font.size;
*      or @extend .font.size.weight;
*    }
*
// ---------------------------------------------------------------------- */
$fonts:       
  flama, condensed, georgia;

$fontSizes:   
  (xxxlarge, 100), 
  (xxlarge,  72), 
  (xlarge,   64), 
  (large,    48), 
  (medium,   32), 
  (small,    24),
  (xsmall,   18),
  (xxsmall,  14);

$fontWeights: 
  (bold,     500), 
  (normal,   300), 
  (light,    100);

////////////////////////////
// Create font variations //
////////////////////////////
@mixin fontFamily($font) {
  @if $font == flama {
    font-family: 'Flama', 'helvetica neue', 'helvetica', 'arial', 'sans';
  } 
  @if $font == condensed {
    font-family: 'FlamaCondensed', 'helvetica neue', 'helvetica', 'arial', 'sans';
  } 
  @if $font == georgia {
    font-family: 'Georgia', 'serif';
  } 
}

@mixin makeFont($font) {
  .#{$font} { 
    @include fontFamily($font);
  }
  @each $size, $v in $fontSizes {  
    .#{$font}.#{$size} {
      @extend .#{$font};
      @extend .#{$size}-size;
    }
    @each $weight, $w in $fontWeights {  
      .#{$font}.#{$size}.#{$weight} { 
        @extend .#{$font}.#{$size};
        @extend .#{$weight}-weight;
      }
    }
  }
}

@mixin makeFonts() {
  // Define Font Sizes (in pixels, convert to rems), 1rem = 16px
  @each $size, $value in $fontSizes {  
    .#{$size}-size { font-size: rem($value); }
  }
  // Define Font Weights
  @each $weight, $value in $fontWeights {  
    .#{$weight}-weight { font-weight: $value; }
  }
  // Init
  @each $font in $fonts {  
    @include makeFont($font);
  }
}

@include makeFonts();

